/*  File: contact_style.css
    Lecturer: Thái Duy Khang, B2308301, khangb2308301@student.ctu.edu.vn
    @Created: , updated:  */
    
html, body {
    scroll-padding-top: 80px;               /* Khi có thanh header cố định (fixed header) ở trên cùng, nếu không dùng scroll-padding-top, nội dung sẽ bị header che mất */
    scroll-behavior: smooth;                /* cuộn trang mượt mà thay vì nhảy đột ngột */
    height: 100%;
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.gc {   /* Tạo bố cục ban đầu tổng quát | GC mức I | */
    /* background-color: #FCFCFA; */
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px auto auto;
    /* grid chia làm 3 vùng, gồm 1 cột 3 hàng */
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.header {               /* GI mức I | Nested GC mức I.1 | */
    /* background-color: #F8F8F8; */
    background-color: #F1F1F1;
    grid-area: header;
    position: fixed;            /* cố định theo màn hình không bị cuộn theo nội dung */
    width: 100%;
    z-index: 100;               /* đảm bảo nằm trên cùng, độ ưu tiên cao nhất */
}
.main {                 /* GI mức I | Nested GC mức I.1 | */
    grid-area: main;
    max-width: 100%;
    box-sizing: border-box;
}
.footer {               /* GI mức I | Nested GC mức I.1 | */
    grid-area: footer;
    padding: 20px;
    /* background-color: #1F1F1F; */
    background-color: #192733;
}



/* Phần header */
.page-header {              /* GI mức I.1 | Nested GC mức I.1.A | */
    /* background-color: rgba(255, 216, 190, 0.7); background-color: #FFD8BE; */
    width: 100%;
    height: 100%;
    padding: 20px 40px;
    display: flex;
    gap: 20px;
    align-items: center;
    box-sizing: border-box;               /* kích thước đã bao gồm padding và border */
}

.header-img {
    width: 50px;
}
.nav-item {
    color: black;
    font-weight: 700;
    text-decoration: none;
    padding: 10px;
}
.nav-header a:hover {text-decoration: underline; color: #4f4c4f;}

.search-container {
    flex: 1;
    min-width: 250px;
    height: 40px;
    display: flex;
}
.search-bar {
    width: 100%; height: 100%;
    box-sizing: border-box;                 /* width đã chứa cả padding và border */
    background-color: #F3F3F3;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 8px 15px;
    display: flex;
    align-items: center;
}
.search-bar i {
    width: 21px;
    margin-right: 10px;
}
.search-bar input {
    background: transparent;
    border: none;
    outline: none;
    width: 100%; height: 100%;
    font-size: 15px;
}
.search-bar:hover {border-color: #c2bebe;}
.search-bar:focus-within {border-color: black;}

.button-header {
    display: flex;
    gap: 15px;
    margin-left: auto;
}
.btn {              /* style chung cho button */
    font-family: 'Satoshi', sans-serif;
    width: 105px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 15px;
    padding: 13px;
    cursor: pointer;
}
.btn-SignIn {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: black;
    background-color: white;
}
.btn-SignUp {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
    background-color: black;
}
.btn:hover {cursor: pointer;}               /* áp dụng thuộc tính cho toàn bộ button */


.hamburger {
    display: none;
    border: none;
    background: none;
    font-size: 35px;
    cursor: pointer;
}
.menu {                 /* menu ẩn mặc định */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EDEDED;
    border: 1px solid black;
    border-radius: 7px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}
.close-btn {
    align-self: flex-end;
    background: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.menu-item {
    border: 1px solid rgb(154, 154, 154);
    padding: 5px;
}
.menu-item a {
    color: black;
    text-decoration: none;
}
.menu.hidden {display: none;}
#mobileMenu.active {
    display: block;
}



/* Phần Big Title */
/* GI mức I.1 | Nested GC mức I.1.A | */
.main-title-section {
    position: relative;             /* cho phép sử dụng các phần tử con absolute như ::before nằm đúng trong section. */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 480px;
    overflow: hidden;            /* ẩn phần vượt ra khỏi khung */
    color: white;
    z-index: 1;             /* nằm trên lớp nền z_index: 0 */
}
/* Lớp nền mờ bằng ::before */
.main-title-section::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url('images/cozy-lively-home-interior-design.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(1.2px);
    z-index: 0;             /* đảm bảo nằm dưới cùng */
}
/* Text giữ rõ nét */
.main-title__subtitle,
.main-title__title, .main-title__btn-SignIn {
    position: relative;
    z-index: 1;
}
.main-title__title {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: clamp(1.8rem, 8vw, 6rem);          /* 1rem = 16px min = 32px, max = 96px */
    font-weight: 900;
    text-align: center;
    /* color: #B037A6; */
    color: white;
    display: inline-block;
}
.main-title__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(11px, 2vw, 18px);
    font-weight: bold;
    /* color: #707070; */
    color: white;
    text-align: center;
}
button.main-title__btn-SignIn {
    background-color:  white;
    color: black;
    border: none;
    border-radius: 22px;
    font-size: clamp(11px, 2vw, 15px);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
button.main-title__btn-SignIn i {        
    font-size: clamp(10px, 2vw, 14px);
    transition: transform 0.3s ease;
}
.main-title__btn-SignIn:hover {background-color: rgb(232, 231, 231); transform: scale(1.05);}
.main-title__btn-SignIn:hover i {
    transform: translateX(4px);           /* hiệu ứng mũi tên trượt sang phải */
}




/* Phần content */
.content-section {                  /* GI mức I.1 | Nested GC mức I.1.A | */
    padding: 22px;
}
.content-gradient__border-box {     /* phần khung viền gradient màu */
    margin-top: 40px;
    background: linear-gradient(90deg, #76e0fe, #7f76ff);
    padding: 2px;                   /* tạo độ dày viền */
    border-radius: 16px;            /* bo góc viền */
    display: inline-block;          /* để fit nội dung */
}
.content-wrapper {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    padding: 25px 40px;
    border-radius: 14px;              /* bo viền bên trong nhỏ hơn một chút so với gradient-border-box */
    box-sizing: border-box;
}
.content-text {
    flex: 4;                /* chia bố cục thành 2 phần 4:3 (nội dung text chiếm 4 phần */
    color: #213343;
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin: auto 0;             /* căn giữa */
    /* background-color: #F2F5F8; */
}
.content-text__h1 {
    font-family: 'Satoshi', sans-serif;
    font-size: clamp(1.5rem, 4vw, 2.8rem);
    font-weight: bold;
    line-height: 1.8;
}
.content-text__description {
    font-size: clamp(0.8rem, 3vw, 1.1rem);
    font-weight: 400;
    line-height: 1.8;
}
.video-container {
    flex: 3;                /* chia bố cục thành 2 phần 4:3 (hình ảnh chiếm 3 phần */
    text-align: center;
    width: 100%;
    height: 430px;
}
/* .video-container img {
    width: 100%; height: 100%;
    border-radius: 20px;
    box-shadow: -7px 13px 16px rgba(0, 0, 0, 0.2);
    object-fit: cover;
} */
.video-container video {
    width: 100%; height: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.video-caption {
    width: 100%;
    font-size: clamp(0.2rem, 2vw, 0.7rem);
    color: black;
}



/* Phần card */
.card-section {                 /* GI mức I.1.A | Nested GC mức I.1.A.a | */
    display: flex;
    flex-direction: column;     /* theo hướng dọc */
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    margin-top: 40px;
    background-color: #F5F5F5;
    box-sizing: border-box;
}
.card-title {
    display: inline-flex;
    font-size: clamp(1.2rem, 2vw, 2.2rem);
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: bold;
    margin-bottom: 40px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
}
.card-animate {
    display: inline-flex;
}
.card {
    width: 320px;
    height: 310px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 18px;
    /* background-color: #F2F5F8; */
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 28px;
    transition: transform 0.15s linear;
}
.card i {
    color: #99ACC2;
    font-size: clamp(32px, 2vw, 40px);
}
.card h4 {
    color: #213343;
    margin: 0;
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 600;       /* font không hỗ trợ 900 */
}
.card .link-to-numberPhone {
    color: #0068B1;
    font-size: clamp(16px, 2vw, 21px);
    font-weight: 600;
    text-decoration: none;
    margin: 0;
}

button.btn-XemThem {
    border: none;
    text-decoration: none;
    font-size: clamp(12px, 2vw, 16px);
    color: white;
    background-color: #FF5C35;
}
.card .btn {        /* luật riêng cho các nút của phần tử card */
    width: 130px;
    font-size: 1em;
    border-radius: 10px;
}
.btn-ClickNgay, .btn-HoiNgay {
    border: none;
    background-color: #FF5C35;
    color: white;
    margin-top: 20px;
}

button.btn-ClickNgay:hover, button.btn-HoiNgay:hover, button.btn-XemThem:hover {background-color: #fc7c5c;}
.card:hover {
    transform: scale(1.05);
}



/* Phần logo slider */
.logo-slider {                  /* GI mức I.1 | Nested GC mức I.1.A | */
    border: 2px solid blue;
}
.logo-slider__title {
    font-family: 'Montserrat', sans-serif;
    max-width: 900px;
    width: 100%;
    font-size: clamp(20px, 2vw, 30px);
    font-weight: bold;
    margin: 30px auto;
    padding: 0 40px;
    box-sizing: border-box;
    text-align: center;
}

/* .logo-slider__animation {
    border: 2px solid red;
    overflow: hidden;
    white-space: nowrap;
    width: 100vw;
    position: relative;
    padding: 30px;
} */

/* .logo-track {
    display: flex;
    gap: 100px;
    animation: scroll-left 20s linear infinite;
}
.logo-track-container {
    width: 130px;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-track-container img {
    border: 2px solid red;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}
@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
} */



/* Phần Map */
.map-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    background-color: #3E3A55;
    padding: 40px;
}
.map-section__mapEmbed {
    flex: 1;            /* chia lam 2 phan bang nhau */
    width: 600px; height: 350px;
}
.map-section__mapEmbed iframe {
    width: 100%; height: 100%;
    border: none;
    box-shadow: -4px 11px 14px rgba(0, 0, 0, 0.2);
}
.map-section__content {
    flex: 1;            /* chia lam 2 phan bang nhau */
}
.map-section__content h2 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: bold;
    font-size: clamp(14px, 3vw, 28px);
    color: white;
}
.map-section__content h2 i {        /* luật cho icon bản đồ */
    margin-right: 14px;
}
.map-section__content p {
    font-size: clamp(12px, 2vw, 18px);
    color: #E0E0E0;
}



/* Phần FAQs */
.faq-section {                  /* GI mức I.1 | Nested GC mức I.1.A | */
    /* background-color: #F2F3F5; */
    background-color: #36383D;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.faq-wrapper {
    color: white;
    max-width: 900px;
}
.faq-wrapper__h1 {
    font-size: clamp(16px, 2vw, 28px);
    font-weight: 900;
    margin: 10px 0 20px 0;
}
.faq-question {
    border: none;
    color: white;
    background: transparent;
    font-size: clamp(14px, 2vw, 20px);
    font-weight: bold;
    text-align: left;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.faq__plus-icon {
    font-size: clamp(20px, 2vw, 32px);
    transition: transform 0.3s ease-in-out;
}
.faq-line {
    width: 100%;
    height: 1px;
    border: none;
    background-color: white;
    margin: 10px auto;
    box-sizing: border-box;
}
.faq-answer ul {
    list-style-type: none;
    padding: 0; margin: 0;
}

.faq-answer {
    max-height: 0;
    visibility: hidden;             /* tạm thời bị ẩn đi khi chưa active */
    opacity: 0;
    transition: all 0.2s ease-in;
    color: #BFBFBF;
    padding: 0; margin: 0;
    font-size: clamp(12px, 2vw, 17px);
    line-height: 1.6em;
}
.faq-item.active .faq-answer {
    visibility: visible;            /* hiện ra khi active */
    max-height: 500px;
    opacity: 1;
    padding-bottom: 10px;
}
.faq-item.active .faq-question span {
  transform: rotate(45deg);             /* Chuyển từ '+' thành 'x' */
}



/* Phần điền form */
.form-section {                 /* GI mức I.1 | Nested GC mức I.1.A | */
    /* background-color: #F3F3F3; */
    padding: 45px 40px 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("images/background.png");
    background-size: cover;
    background-position: center;
}
.form-container {
    background-color: white;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px 15px 0 0;
    width: 100%;
    max-width: 650px;
    padding: 25px;
    box-sizing: border-box;
}
.form-container h2 {
    color: #213343;
    font-size: clamp(18px, 3vw, 28px);
    font-weight: bold;
    text-align: center;
    margin: 27px 0;
}
.label-col {
    display: block;
    max-width: 90%;
    color: #213343;
    font-size: clamp(12px, 2vw, 17px);
    font-weight: bold;
    margin: 0 auto 6px auto;
}
.input-col {
    background-color: #F6F9FC;
    max-width: 90%;
    margin: 0 auto 19px auto;
}
.input-col input, .input-col textarea {
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid #7691AD;
    border-radius: 5px;
    padding: 12px;
    font-size: clamp(12px, 2vw, 18px);
}
.contact-form__submit-button  {
    text-align: center;
}
.contact-form__submit-button .btn {
    width: 250px;
    font-size: clamp(12px, 2vw, 18px);
    border-radius: 8px;
}
.btn-GuiNgay {
    color: white;
    background-color: #FF5C35;
    border: none;
}

.message {
    display: none;
    width: 90%;
    margin: -10px auto 9px auto;
}
.contact-form__form-row.error .input-col input, .contact-form__form-row.error .input-col textarea {               /* đổi màu viền khi thoát khỏi ô input */
    border: 1px solid red;
}
.contact-form__form-row.error .message {            /* hiện thông báo lỗi khi thoát khỏi ô input */
    display: block;
    color: red;
    font-size: 14px;
}
.contact-form__form-row.success .message {            /* hiện thông báo lỗi khi thoát khỏi ô input */
    display: block;
    color: blue;
    font-size: 14px;
}

button.btn-GuiNgay:hover {background-color: #f97d5e;}



/* Phần footer */
.page-footer {                  /* GI mức I | Nested GC mức I.1 | */
    color: white;
    /* background-color: #FFF5ED; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.footer-three-col {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;                /* dùng flex wrap thay cho grid 3 cột */
    justify-content: space-around;
    gap: 30px;
    padding: 30px;
}
.footer-three-col__col-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
    max-width: 300px;
}
.footer-three-col__col-layout p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
.footer-three-col__col-layout i {
    width: 20px;
    font-size: 20px;
    margin-right: 5px;
}
.footer-three-col__col-layout a {
    color: #B6C7D6;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}
.footer-three-col__col-layout button {
    width: 100px;
    font-size: 20px;
    padding: 10px;
}
.footer-line {
    width: 300px;
    height: 0.5px;
    border: none;
    background-color: white;
}
.social-icon {
    font-size: 30px;
    display: flex;
    column-gap: 40px;
}
.social-icon a {
    color: #AAAAAA;
}
.footer-logo img {
    width: 90px;
}
.copyright {
    color: #AAAAAA;
    font-size: 12px;
    font-weight: bold;
}
.footer-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
}
.footer-link a {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 30px;
}
.page-footer a:hover {color: #4f4c4f; text-decoration: underline;}



/* Phần Responsive */
@media screen and (max-width: 1024px) {             /* áp dụng cho màn hình nhỏ hơn 1024px */
    .gc {
        grid-template-columns: 1fr;
    }
    .hamburger {display: block;}
    .nav-item {display: none;}

    .content-wrapper {
        width: 1000px;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .content-text__h1, .content-text__description {
        text-align: center;
    }

    /* .card-section {top: 0; margin-top: 40px;} */
    .map-section {
        flex-direction: column;
    }
    .map-section__mapEmbed {
        flex: none;         /* ngừng để flex quyết định height */
        width: 80%;         /* chiều rộng mới bằng 80% chiều rộng cũ */
        height: 380px;      /* chiều cao mới */
    }
    .map-section__content {
        width: 80%;
        text-align: center;
    }

    .footer-line {display: none;}
}
@media screen and (max-width: 768px) {              /* áp dụng cho màn hình nhỏ hơn 768px */
    .content-text, .content-image {
        flex: 1 1 100%;
        padding: 0;
        text-align: center;
    }
    .search-container {display: none;}
    
    .card-container {
        gap: 18px;
    }

    .map-section__mapEmbed {
        height: auto;      /* tự động thiết lập chiều cao */
    }

    .content-wrapper {
        padding: 25px 0 0 0;
    }
    .content-text {
        padding: 20px;
    }
    
    .card-animate {
        width: 100%;
    }
    .card {
        all: unset;
        width: 100%;
        border-top: 1px solid black;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        transition: transform 0.15s linear;
    }


}
@media screen and (max-width: 600px) {              /* áp dụng cho màn hình điện thoại */
    .page-header {
        padding: 15px 20px;
    }

    .btn {
        width: 7em;
        font-size: 12px;
    }

    .content-wrapper {
        padding: 25px 10px;
    }

    .card {
        gap: 25px;
    }
    .card .btn {
        width: 9em;         
        font-size: 0.7em;
    }


    .form-section {
        padding: 40px 0 0 0;
    }
    .form-container {
        box-shadow: none;
        padding-bottom: 20px;
    }
    .form-container h2 {
        margin: 0 0 15px 0;
    }
}